@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 60% 94%;
    --foreground: 231 30% 25%;
    --card: 231 60% 99%;
    --card-foreground: 231 30% 25%;
    --popover: 231 60% 99%;
    --popover-foreground: 231 30% 25%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 233 45% 88%;
    --secondary-foreground: 231 30% 25%;
    --muted: 233 45% 88%;
    --muted-foreground: 231 30% 55%;
    --accent: 233 45% 62%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 30% 85%;
    --input: 231 30% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 231 15% 10%;
    --foreground: 0 0% 98%;
    --card: 231 15% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 231 15% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 233 45% 62%;
    --primary-foreground: 0 0% 10%;
    --secondary: 231 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 15% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 231 15% 35%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 15% 25%;
    --input: 231 15% 25%;
    --ring: 233 45% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
